{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    <h3 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }} </a> 
    </h3>

    {% if post.end_date %}
      <p> <b>{{ post.type }}</b>, {{ post.date | default: "1900-01-01" | date: "%m/%Y" }}—{{ post.end_date | default: "1900-01-01" | date: "%m/%Y" }}, <i>{{post.venue}}</i></p>
    {% elsif post.collection == 'experiences'%}
      <p> <b>{{ post.type }}</b>, {{ post.date | default: "1900-01-01" | date: "%m/%Y" }}— Present, <i>{{post.venue}}</i> </p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description"> {{ post.excerpt }} </p>
    {% endif %}

    {% if post.venue%}<p class="archive__item-excerpt" itemprop="description">{{ post.citation }}</p> {% endif %}
  </li>
 </article>
</div>
